---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from 'astro:content';
const techniques = await getCollection('techniques');
const sorted = techniques.sort((a, b) => a.data.order - b.data.order); // 章順に並べる（optional）

const gits = await getCollection('git');
const gits_sorted = gits.sort((a, b) => a.data.order - b.data.order); // 章順に並べる（optional）
---
<BaseLayout title="Techcampesinos">
  <h1>読みやすいコード技法集</h1>
  <ul>
    {sorted.map((item) => (
      <li>
        <a href={`/techniques/${item.slug}`}>{item.data.title}</a>
      </li>
    ))}
  </ul>

  <h1>HTTPの振り返り</h1>
  <ul>
    {sorted.map((item) => (
      <li>
        <a href={`/techniques/${item.slug}`}>{item.data.title}</a>
      </li>
    ))}
  </ul>

  <h1>gitで困ったら</h1>
  <ul>
    {gits_sorted.map((item) => (
      <li>
        <a href={`/git/${item.slug}`}>{item.data.title}</a>
      </li>
    ))}
  </ul>
</BaseLayout>